@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-text-size-adjust: 100%;
    touch-action: manipulation;
  }
  body {
    -webkit-font-smoothing: antialiased;
    overscroll-behavior: none;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
